.menu {
  background-color: #40405C;
}

.menuItem {
  background-color: #40405C;
  margin: 0;
}

.menuItem:hover {
  background-color: #2D2D40;
}

.ant-menu-item-selected:hover {
  background-color: #2D2D40 !important;
}

.ant-menu {
  background-color: #40405C !important;
}

.ant-menu-inline .ant-menu-item {
  width: 100%;
}
.ant-menu-item-selected {
  color: inherit;
  background-color: #2D2D40;
}

menu-item::after {
  border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: inherit;
}
