.explorerTopBar {
  background-color: #40405C;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 2px 5px;
}

.ant-form-item-label > label {
  color: white !important;
}

.explorerForm {
  flex: 1;
}



