.explorerTopBar {
  background-color: #40405C;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 2px 5px;
}


.panorama {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;

}
.pnlm-about-msg {
  display: none !important;
}

.pnlm-load-box {
  display: none !important;
}

.ant-form-item-label > label {
  color: white !important;
}

.explorerForm {
  flex: 1;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}
